body
{
	background: rgb(133, 241, 16);
}

	.login_div1 , .login_div2
	{
		background: rgb(197, 195, 241);
		padding: 10px;
		float: none;
		border-radius: 15px;
	}


#player1_name , #player2_name
{
	display: inline-block;
	margin-left: 20px;
}
#word
{
	width: 60%;
}
#word_display
{
	letter-spacing: 5px;
}
#output
{
background: rgb(225, 112, 159);
border-radius: 10px;
border-top: 10px solid #efb773;
padding: 10px;
float: none;
text-align: left;
}
h4
{  
text-align:left;
font-style:normal;
font-size: 40px;

}
h6
{  
text-align:left;
font-style:normal;
font-size: 20px;

}

